<div class="container mt-4" >
 
    <div class="card">
            <h1>Salle De Sport Liste</h1>
     
    
    </div>
    <div>
     
     
        <div class="container mt-4" >
     
            <h1>salle Table</h1>
     
     
     
     
        <table class="table">
            <thead>
             <h1 *ngIf="!isResultLoaded">Loading.................</h1>
            
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom Salle</th>
                
                
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let SalleItem of SalleArray">
     
                <th scope="row">{{SalleItem.idsalle  }}</th>
                <td>{{SalleItem.nomsalle  | uppercase}}</td>
               
                
                <td>
                  
                  
                  <button type="button" class="btn btn-danger" (click)="setDelete(SalleItem)">Delete</button>
                
                </td>
              </tr>
              
            </tbody>
          </table>
     
     
        </div>
    </div>
</div>