

<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Salle de sport</h1>

    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <a routeLink ="/" class="list-group-item">home</a>
        <a routeLink ="/admin" class="list-group-item">add admin</a>
        <a routeLink ="/alladmin" class="list-group-item">home</a>

        <a routeLink ="/member" class="list-group-item">home</a>
        <a routeLink ="/allmember" class="list-group-item">add admin</a>
        <a routeLink ="/employer" class="list-group-item">home</a>
        <a routeLink ="/allemployer" class="list-group-item">add admin</a>
      </ul>

    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
-->
<!-- <app-add-member></app-add-member>
<app-list-member></app-list-member> -->
<router-outlet></router-outlet>