<!-- <div class="container"> 
    <h1>Home Page</h1>
    
    <div class="button-container">
      <button class="btn btn-primary" (click)="navigateToAllMembers()">All Members</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAddMember()">Add Member</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAllAdmin()">All Admins</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAddAdmin()">Add Admin</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAllEmployer()">All Employers</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAddEmployer()">Add Employer</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAllSalle()">All Salles</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAddSalle()">Add Salle</button><br>
    </div>
  </div>
 -->

 <head>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <!-- <div class="button-container">
      <button class="btn btn-primary" (click)="navigateToAllMembers()">All Members</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAddMember()">Add Member</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAllAdmin()">All Admins</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAddAdmin()">Add Admin</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAllEmployer()">All Employers</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAddEmployer()">Add Employer</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAllSalle()">All Salles</button><br>
      <br>
      <button class="btn btn-primary" (click)="navigateToAddSalle()">Add Salle</button><br>
    </div>
   -->
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
<li><a class="btn btn-primary" (click)="navigateToAllMembers()">Members</a></li>
<li><a class="btn btn-primary" (click)="navigateToAddMember()">+Member</a></li>
<li><a class="btn btn-primary" (click)="navigateToAllAdmin()">Admins</a></li>
<li><a class="btn btn-primary" (click)="navigateToAddAdmin()">+Admin</a></li>
<li><a class="btn btn-primary" (click)="navigateToAllEmployer()">Employers</a></li>
<li><a class="btn btn-primary" (click)="navigateToAddEmployer()">+Employer</a></li>
<li><a class="btn btn-primary" (click)="navigateToAddSalle()">Salles</a></li>
<li><a class="btn btn-primary" (click)="navigateToAddSalle()">+Salle</a></li>
</ul>
</div>
<div class="content">
      <div class="title">
HOME</div>
<p>
projet Ahmed Ben mansour</p>
</div> 
</body>

